[submodule "src/external/cpputest"]
	path = src/external/cpputest
	url = https://github.com/cpputest/cpputest.git
[submodule "src/external/fmt"]
	path = src/external/fmt
	url = https://github.com/fmtlib/fmt
